<template>
    <div class="card">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-content event-card">
            <span class="event-title">
                {{title}}
            </span>
            <br/>
            <span class="event-time">
                {{getTime()}}
            </span>
            <span class="event-location">
                @{{location}}
            </span>
        </div>
        <!-- <div class="card-footer">Footer</div> -->
    </div>
</template>

<style>
.event-card {
  padding: 10px;
  background: #ccf;
}
.event-title {
  color: #055;
  font-size: large;
}
.event-time {
  width: 50%;
}
.event-location {
  width: 50%;
  float: right;
  text-align: end;
}
.card {
  background: transparent;
}
</style>

<script>
export default {
  created() {},
  props: {
    title: {
      type: String
    },
    date: { type: String },
    startTime: { type: Object },
    endTime: { type: Object },
    location: { type: String }
  },
  data() {
    return {};
  },
  methods: {
    formatTime(datetime) {
      var hour = datetime.hours() - 1;
      hour = (hour % 24 + 24) % 24;
      hour = hour % 12 + 1;
      var minute = datetime.minutes();
      var pm = datetime.hours() >= 12;
      // todo: update this to take advantage of moment.js
      return {
        hour,
        minute,
        timeString:
          hour + (minute > 0 ? ":" + String(minute).padStart(2, "0") : ""),
        pm,
        suffix: pm ? "pm" : "am"
      };
    },
    getTime() {
      var start = this.formatTime(this.startTime);
      var end = this.formatTime(this.endTime.obj);
      return (
        start.timeString +
        (start.pm == end.pm ? "" : start.suffix) +
        "-" +
        end.timeString +
        end.suffix
      );
    },
    populateData(event) {
      console.log(event);
    }
  }
};
</script>
