<template>
  <div class="day-container">
    <p class="date-info">{{day.date.format("DD")}} {{day.date.format("ddd")}}</p>
    <template v-if="day.events.length===0">
      <div class="current-time-marker"></div>
      <div class="empty-msg">No events today.</div>
    </template>
    <template v-else-if="isToday">
      <template v-for="event in before">
        <event-card  v-bind:key="event.id"
        v-bind:title="event.title"
        v-bind:startTime="event.startTime"
        v-bind:endTime="event.endTime"
        v-bind:location="event.location">
        </event-card>
      </template>
      <div class="current-time-marker"></div>
      <template v-for="event in after">
        <event-card  v-bind:key="event.id"
        v-bind:title="event.title"
        v-bind:startTime="event.startTime"
        v-bind:endTime="event.endTime"
        v-bind:location="event.location">
        </event-card>
      </template>
    </template>
    <template v-else>
      <template v-for="event in day.events">
        <event-card  v-bind:key="event.id"
        v-bind:title="event.title"
        v-bind:startTime="event.startTime"
        v-bind:endTime="event.endTime"
        v-bind:location="event.location">
        </event-card>
      </template>
    </template>
  </div>
</template>

<style>
.current-time-marker {
  background: #00f;
  height: 2px;
  margin: 10px;
}
.empty-msg {
  padding-left: 10px;
}
.date-info {
  font-size: large;
  padding-left: 10px;
}
.day-container {
  background: #eef;
}
</style>

<script>
import moment from "moment";
import { globals } from "../../globals.js";
var EventCard = require("./EventCard").default;
export default {
  components: {
    EventCard
  },
  created() {},
  props: {
    day: {
      type: Object
    }
  },
  data() {
    return {
      now: globals.now
    };
  },
  computed: {
    isToday() {
      return (
        this.day.date.format("YYYY-MM-DD") === this.now.format("YYYY-MM-DD")
      );
    },
    dayNamesShort() {
      return globals.dayNamesShort;
    },
    before() {
      console.log("before");
      var list = [];
      for (let ev = 0; ev < this.day.events.length; ev++) {
        console.log(this.now, this.day.events[ev].startTime);
        if (this.now <= this.day.events[ev].startTime) {
          console.log("break");
          break;
        }
        list.push(this.day.events[ev]);
      }
      console.log(list);
      return list;
    },
    after() {
      console.log("after");
      var list = [];
      for (let ev = this.day.events.length - 1; ev >= 0; ev--) {
        if (this.now > this.day.events[ev].startTime) {
          break;
        }
        list.unshift(this.day.events[ev]);
      }
      console.log(list);
      return list;
    }
  },
  methods: {
    show(index) {
      return index == 0;
    }
  }
};
</script>
