<template>
  <f7-page>
    <f7-navbar title="Schedule" back-link="Back"></f7-navbar>
    <f7-block-title>Create event</f7-block-title>
    <f7-list form>
      <f7-list-item>
        <f7-label>Event name</f7-label>
        <f7-input type="text" placeholder="name" :value="title" @input="title=$event.target.value"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Location</f7-label>
        <f7-input type="text" placeholder="location" :value="location" @input="location=$event.target.value"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Start date</f7-label>
        <f7-input type="text" placeholder="start date" readonly="readonly" id="startDate"/>
        <f7-input type="text" placeholder="start time" readonly="readonly" id="startTime"/>
      </f7-list-item>
      <f7-list-item>
        <f7-label>End date</f7-label>
        <f7-input type="text" placeholder="end date" readonly="readonly" id="endDate"/>
        <f7-input type="text" placeholder="end time" readonly="readonly" id="endTime"/>
      </f7-list-item>
    </f7-list>
    <p>{{startTimeStamp.format("YYYY-MM-DD hh:mm a")}}</p>
    <p>{{endTimeStamp.format("YYYY-MM-DD hh:mm a")}}</p>
  </f7-page>
</template>

<script>
import moment from "moment";
import { globals } from "../globals.js";

export default {
  mounted() {
    var datePickerOps = {
      footer: true,
      openIn: "customModal"
    };
    var timePickerOps = {
      rotateEffect: true,
      formatValue: (values, displayValues) =>
        values[0] + ":" + values[1] + " " + values[2],
      cols: [
        {
          textAlign: "left",
          values: (function() {
            var arr = [];
            for (var i = 1; i <= 12; i++) {
              arr.push(i < 10 ? "0" + i : i);
            }
            return arr;
          })()
        },
        {
          divider: true,
          content: ":"
        },
        {
          values: (function() {
            var arr = [];
            for (var i = 0; i <= 59; i++) {
              arr.push(i < 10 ? "0" + i : i);
            }
            return arr;
          })()
        },
        {
          values: ["am", "pm"]
        }
      ]
    };
    var currentTime = this.now;
    // advance by an hour
    currentTime.add(1, "h");
    // startDate
    datePickerOps.inputEl = "#startDate";
    datePickerOps.value = [currentTime.toDate()];
    this.startDatePicker = this.$f7.calendar.create(datePickerOps);
    // startTime
    timePickerOps.inputEl = "#startTime";
    timePickerOps.value = currentTime.format("hh mm a").split(" ");
    this.startTimePicker = this.$f7.picker.create(timePickerOps);
    // advance by an hour
    currentTime.add(1, "h");
    // endDate
    datePickerOps.inputEl = "#endDate";
    datePickerOps.value = [currentTime.toDate()];
    this.endDatePicker = this.$f7.calendar.create(datePickerOps);
    // endTime
    timePickerOps.inputEl = "#endTime";
    timePickerOps.value = currentTime.format("hh mm a").split(" ");
    this.endTimePicker = this.$f7.picker.create(timePickerOps);
    //
    this.pickersInitialized = true;
  },
  data() {
    return {
      pickersInitialized: false,
      startDatePicker: null,
      startTimePicker: null,
      endDatePicker: null,
      endTimePicker: null,
      title: "",
      location: ""
    };
  },
  computed: {
    now() {
      return globals.now;
    },
    startTimeStamp() {
      return this.timeStampFromPickerVals(
        this.startDatePicker,
        this.startTimePicker
      );
    },
    endTimeStamp() {
      return this.timeStampFromPickerVals(
        this.endDatePicker,
        this.endTimePicker
      );
    }
  },
  methods: {
    timeStampFromPickerVals(datePicker, timePicker) {
      if (!this.pickersInitialized) {
        return this.now;
      }
      var sx = moment(datePicker.getValue()[0]);
      var time = timePicker.getValue();
      var pm = time[2] === "pm";
      var hours = Number(time[0]) % 12 + (pm ? 12 : 0);
      sx = sx.set({
        hour: hours,
        minute: time[1]
      });
      return sx;
    }
  }
};
</script>

<style>
</style>