<template>
  <f7-page>
    <f7-navbar title="Schedule" back-link="Back"></f7-navbar>
    <f7-block-title>View scheduled events</f7-block-title>
    <schedule-day v-for="day in days" v-bind:key="day.date.stamp"
    v-bind:day="day">
    </schedule-day>
  </f7-page>
</template>

<style>
.event-card {
  padding: 10px;
}
.event-title {
  color: red;
  font-size: large;
}
.event-time {
  width: 50%;
}
.event-location {
  width: 50%;
  float: right;
  text-align: end;
}
</style>

<script>
import moment from "moment";
var dyna = require("../dynamodb.js");
var EventCard = require("./components/EventCard").default;
var ScheduleDay = require("./components/ScheduleDay").default;
import { globals } from "../globals.js";

export default {
  components: {
    EventCard,
    ScheduleDay
  },
  created() {
    //dyna.deleteTable("Event");
    //dyna.createEventTable();
    //this.createAllEvents();
    dyna.queryEvents("BYU").then(result => {
      this.eventList = result.Items;
      // extract dates from timestamps
      for (let ev in this.eventList) {
        this.eventList[ev].startTime = moment(this.eventList[ev].startTime);
        this.eventList[ev].endTime = {
          stamp: this.eventList[ev].endTime,
          obj: moment(this.eventList[ev].endTime)
        };
      }
      console.log(this.eventList.map(x => x.startTime.format("LLL")));
      // sort the event objects
      this.eventList.sort((a, b) => {
        return a.startTime - b.startTime;
      });
      console.log(this.eventList.map(x => x.startTime.format("LLL")));
      // put the events into buckets based on their date
      var dayMap = {};
      for (let e in this.eventList) {
        var stamp = this.eventList[e].startTime.format("YYYY-MM-DD");
        var day = dayMap[stamp];
        if (day === undefined) {
          day = dayMap[stamp] = {
            events: [],
            date: this.eventList[e].startTime
          };
        }
        day.events.push(this.eventList[e]);
      }
      var nowStamp = globals.now.format("YYYY-MM-DD");
      var day = dayMap[nowStamp];
      if (day === undefined) {
        day = dayMap[nowStamp] = {
          events: [],
          date: globals.now
        };
      }
      this.days = Object.values(dayMap);
      this.days.sort((a, b) => {
        return a.date - b.date;
      });
    });
    return;
  },
  data() {
    return {
      days: null,
      eventList: null
    };
  },
  methods: {
    createAllEvents() {
      dyna.createEvent({
        school: "BYU",
        title: "Midnight Movie",
        location: "Student Union",
        startTime: new Date("06 October 2018 05:00 UTC").toISOString(),
        endTime: new Date("06 October 2018 03:00 UTC").toISOString()
      });
      dyna.createEvent({
        school: "BYU",
        title: "Group Study Session",
        location: "Library Rm 120",
        startTime: new Date("05 October 2018 14:00 UTC").toISOString(),
        endTime: new Date("05 October 2018 16:00 UTC").toISOString()
      });
      dyna.createEvent({
        school: "BYU",
        title: "Movie Night",
        location: "Union Bldg",
        startTime: new Date("06 October 2018 02:00 UTC").toISOString(),
        endTime: new Date("06 October 2018 04:00 UTC").toISOString()
      });
      dyna.createEvent({
        school: "BYU",
        title: "Game Night",
        location: "Union Bldg",
        startTime: new Date("09 October 2018 02:00 UTC").toISOString(),
        endTime: new Date("09 October 2018 05:00 UTC").toISOString()
      });
      dyna.createEvent({
        school: "BYU",
        title: "English Workshop",
        location: "Elizabeth Hall",
        startTime: new Date("07 October 2018 21:00 UTC").toISOString(),
        endTime: new Date("07 October 2018 22:00 UTC").toISOString()
      });
      dyna.createEvent({
        school: "BYU",
        title: "Free Lunch",
        location: "Union Bldg",
        startTime: new Date("07 October 2018 18:00 UTC").toISOString(),
        endTime: new Date("07 October 2018 19:00 UTC").toISOString()
      });
      //   .then(event => {
      //     console.log("done");
      //     console.log(event.Item.title);
      //     dyna.deleteEvent(event.Item.school, event.Item.id);
      //   });
    }
  }
};
</script>
