<template>
  <f7-page>
    <f7-navbar title="User" back-link="Back"></f7-navbar>
    <f7-block-title>Add a user</f7-block-title>
    <f7-list form>
      <f7-list-item>
        <f7-label>First Name</f7-label>
        <f7-input type="text" placeholder="First" :value="firstName" @input="firstName=$event.target.value"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Last Name</f7-label>
        <f7-input type="text" placeholder="Last" :value="lastName" @input="lastName=$event.target.value"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Email Address</f7-label>
        <f7-input type="email" placeholder="email@example.com" :value="email" @input="email=$event.target.value"></f7-input>
      </f7-list-item>
      <f7-button class="col" v-on:click=createUser fill>Add User</f7-button>
      <f7-button class="col" v-on:click=deleteUser color="red" fill>Delete Last User</f7-button>
      <f7-button class="col" v-on:click=getUser color="green" fill>Get Last User</f7-button>
      <f7-button class="col" v-on:click=queryUsers color="black" fill>Query Users</f7-button>
    </f7-list>
  </f7-page>
</template>

<script>
var dyna = require("../dynamodb.js");
export default {
  created() {
    var today = new Date().toJSON().slice(0, 10);
    console.log(today);
    // dyna.createUserTable();
    // dyna.createEventTable();
    // dyna.createEvent({
    //   school: this.school,
    //   date: today,
    //   startTime: 720,
    //   endTime: 780
    // });
    //dyna.createEventTable();
  },
  data() {
    return {
      counter: 0,
      firstName: "Alan",
      lastName: "Smithee",
      email: "email@example.com",
      school: "BYU",
      lastUuid: null
    };
  },
  methods: {
    createUser() {
      this.counter += 2;
      dyna
        .createUser({
          school: this.school,
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email
        })
        .then(user => {
          console.log("done");
          this.showToastBottom(
            'Created user "' + this.firstName + " " + this.lastName + '"'
          );
          this.lastUuid = user.Item.id;
        });
    },
    deleteUser() {
      if (this.lastUuid !== null) {
        dyna.deleteUser(this.school, this.lastUuid).then(() => {
          console.log("done");
          this.showToastBottom(
            'Deleted user "' + this.firstName + " " + this.lastName + '"'
          );
          this.lastUuid = null;
        });
      }
    },
    getUser() {
      if (this.lastUuid !== null) {
        dyna.getUser(this.school, this.lastUuid).then(() => {
          console.log("done");
        });
      }
    },
    queryUsers() {
      dyna
        .queryUsersByName(this.school, this.firstName, this.lastName)
        .then(() => {
          console.log("done");
        });
    },
    showToastBottom(msg) {
      var toastBottom = this.$f7.toast.show({
        text: msg,
        closeTimeout: 2000,
        destroyOnClose: true
      });
    }
  }
};
</script>
